<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Crear Usuario</title>
  <!--Font Awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  {{>header}}
  <div class="container" >
    <div class="jumbotron mt-5 text-light" style="background-size: cover; background-image: url('https://images.unsplash.com/photo-1512522156303-e02eda5e76e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');">
      <div class="row">
        <div class="col-5">
          <h1 class="display-4">Hola Mundo</h1>
          <p class="lead">Crea, lee, edita y elimna usuarios con esta aplicación de prueba que hice en Express, Handlebar y MySQL</p>
          <hr class="my-4">
          <p>Crea, edita y elimina usuarios.</p>
          <p class="lead">
          <a class="btn btn-lg btn-danger" href="#" role="button">Crear ahora <i class="fas fa-arrow-right"></i></a>
      </p>
        </div>
      </div>
      
    </div>
  </div>
  
</body>
</html>